<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar datos del usuario <%= userFound.userName %> </h1>

    <form method="POST" action="/users/edit/<%= userFound.id %>">
        <input type="text" name="name" placeholder="Nombre de usuario" value="<%= userFound.name %>">
        <br> 
        <input type="text" name="email" placeholder="Email" value="<%= userFound.email %>">
        <br>
        <input type="password" name="password" placeholder="Contraseña" value="<%= userFound.password %>">
        <br>
        <button type="submit">Aplicar Cambios</button>
    </form>
</body>
</html>